<svg [attr.width]="width"
     [attr.height]="height"
     [attr.viewBox]="viewBox">
  <g node label="root"></g>
  <ng-container *ngIf="expanded">
    <g node label="some" transform="translate(64, -192)"></g>
    <g node label="thing" transform="translate(64, -128)"></g>
    <g node label="foo" transform="translate(64, -64)"></g>
    <g node label="bar" transform="translate(64, 0)"></g>
    <g node label="baz" transform="translate(64, 64)"></g>
    <g node label="and" transform="translate(64, 128)"></g>
    <g node label="more" transform="translate(64, 192)"></g>
  </ng-container>
</svg>
